<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Livhuwani.Mutshafa/AutomationTrainingBDD">
        <parameter name="ADACTIN" value="http://adactinhotelapp.com"/>
        <parameter name="Browser" value="chrome"/>
        <classes/>
    </test>
    <test verbose="2" preserve-order="true" name="C:/Users/Livhuwani.Mutshafa/AutomationTrainingBDD">
        <parameter name="ADACTIN" value="http://adactinhotelapp.com"/>
        <parameter name="Browser" value="FIREFOX"/>
        <classes/>
    </test>

    <test verbose="2" preserve-order="true" name="C:/Users/Livhuwani.Mutshafa/AutomationTrainingBDD">
        <parameter name="ADACTIN" value="http://adactinhotelapp.com"/>
        <parameter name="Browser" value="MIRCOSOFT EDGE"/>
        <classes/>
    </test>

</suite>